.modal,
.modal-box {
    z-index: 900;
}

.modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.modal {
    z-index: 99999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 30px auto;
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
    padding: 5px 5px;
    min-height:100px;
    background: #373c5e;
    color: #ffffff;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.modal-header h1{
    width: 95%;
}
.modal-body {
    background:#2a2f4a;
    padding: 60px 40px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* Close Button */
.close-modal {
    padding: 10px;
    text-align: right;
    cursor: pointer;
    float: right;
}

/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

/* Aditional Styles */
* {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

p {
    line-height: 1.4em;
}

@keyframes mymove {
    from {top: 90px;}
    to {top: 130px;}
}

.alert {
    right: 20px;
    left: auto;
    position: fixed;
    animation-name: mymove;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0,0,.3,1.6);
    z-index: 100000;
    top: 130px;

}

.alert > div {
    background-color: #1b1e24f3;
    width: 400px;
    min-height: 50px;
    padding-left: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-top: 10px
}

.alert-text{
    top: 20%;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 350px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.alert-close{
    color :#8740ab !important;
    font-weight: bold !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    position: absolute;
    right: 8px;
    font-size: 20px;
    margin-top: -16px;
    cursor: pointer;
}
.alert-erro{
    color: #ff0000 !important;
}
.alert-success{
    color: #008000 !important;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}



.topnav {
    overflow: hidden;
    background-color: #172033;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #a7aef5;
    color: black;
}

.topnav a.active {
    background-color: #000083;
    color: white;
}


.body-mobile {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
}

.container {
    overflow-wrap: break-word;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.black{
    color: black;
}
.blue{
    color: blue;
}

.iconscolor{
    color: #bda26b;
}

.darker {
    overflow-wrap: break-word;
    text-align: right;
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.profile img,
.container img {
    float: left;
    max-width: 60px;
    height: 60px;
    -webkit-clip-path: circle(30px at center);
    width: 100%;
    margin-right: 10px;
}

#chat {
    font-size: 85%;
}

#Previewfotop{
    margin: auto;
    max-width: 100px;
    height: 100px;
    -webkit-clip-path: circle(45px at center);
    width: 100%;
}

.container.darker img{
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time {
    float: right;
    color: #aaa;
}

.darker .time {
    float: left;
    color: #999;
}

.areasdeconhecimento{
    overflow-x: overlay;
    white-space: nowrap;
}

.card {
    display: inline-flex  !important;
    vertical-align: middle;
    margin: 0.5%;
    margin-left: 1px;
    width: calc(8% + 10em);
    max-width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card:hover {
    transform:  scale(1.005);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.area_check {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
    opacity: 50%;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 23%;
    left: 25%;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
.obs{
    font-style: italic;
    opacity: 0.60;
    margin-left: 10px;
}

html {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: #a7aef5;
}

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 10px;
}

@keyframes mymove {
    from {top: 90px;}
    to {top: 130px;}
}

.blog-card {
    width:100%;
    height: 500px;
    position: sticky;
    font-family: 'Droid Serif', serif;
    color:#fff;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    text-align: center;
    transition:all 0.4s;
    background: url('../../../System/Style/images/bg-defaut.jpg') center;
    background-size: 100%;
}
.blog-card a{
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
}
.blog-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 550px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 550px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}
.blog-card .card-info {
    opacity: 1;
    bottom: 100px;
}
.blog-card .color-overlay {
    background: rgba(64, 64, 70,0.8);
}
.title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition:all 0.6s
}


.blog-card h3,h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
}
.blog-card h3 a{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition:all 0.2s
}
h3:after {
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
}

@keyframes changeLetter {
    0% {
        width: 10%;
    }
    100% {
        width: 80%;
    }
}

.intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
}
.intro a{
    color: #ddd
}
.card-info {
    top: 182px;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
}

.card-info a:hover{
    background: #8e7c49;
    color:#fff;
}
.utility-info {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width:100%;
    text-align:left
}
.utility-info:after{
    content:" ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display:block;
    opacity: 0.4;
    position:absolute;
    bottom:25px;
    right:15px;
    width:30px;
    height:15px
}
.utility-info a:hover{
    text-decoration:underline
}
.utility-list {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}
.utility-list li {
    margin: 0 5px 0 0;
    padding: 13px 0 0 0px;
    display: inline-block;

    font-size:0.8em
}

.licon{
    position:relative;
    width:23px;
    height:15px;
    display:inline-block;
    vertical-align:middle;
}
.licon:before{
    content:"";
    background:url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
    background-size:250px;
    width:26px;
    height:20px;
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    top:-3px;
    left:0;
}
.icon-white{
    filter: brightness(10);
}
.icon-black{
    filter: brightness(0);
    opacity:0.6
}
.icon-like:before{
    background-position: -183px -6px;

}
.icon-com:before{
    background-position: -63px -4px;

}
.icon-dat:before{
    background-position: -94px -7px;
}



#profile-links a{
    font-family: 'Abril Fatface', serif;
    font-size:1.2em
}


.profile-links a[href*=nodws\.com]:before{
    content:"\2616";
    color:#0a45b5;
    padding-right:3px
}

.profile-links a[href*=twitter]:before{
    content:"\1f426";
    color:#08c
}

.profile-links a[href*=dribbble]:before{
    content:"\26BE";
    color:#d055bf
}
#following-this-user{
    pointer-events:none
}
#follow-this-user{
    font-size:1.2em;
    border-color:#359ef9
}
#follow-this-user:after{
    content:"\1f448"
}
.links-and-stats {
    background: rgb(20, 20, 21);
}
.profile-name h1 {
    text-shadow:0 6px 9px rgba(0, 0, 0, 0.48)
}
.profile-avatar {
    bottom: -10px;
    width: 150px;
    height: 150px;
    border: 0px solid #1E1E1E;
    background: rgba(2, 2, 2, 0.49);
    box-shadow:0 19px 19px -10px rgba(0, 0, 0, 0.63)
}
.profile-username, .upsell,.profile-location,.primary-pro{
    opacity:0;
}
.upsell,#pen-as-header-question{
    display:none
}
.profile-nav-1 a{
    font-size:1.2rem;
}

.single-project .stats,.single-pen .stats {
    text-align:center;
    width:100%
}
.stats svg {
    fill: #bda26b;
}
.stats svg{
    fill: rgba(47, 47, 49, 0) !important;
    stroke:#ba6 !important;
    stroke-width:0.1em !important;
}
.comments svg {
    stroke-width:0.35em !important;
}
.single-stat.loves.loved-1 svg
{
    stroke:#fff !important
}

.single-pen:hover h3:after{
    width:40%;
    transition:all 0.2s
}
.user-post{
    display: flex;
    margin: 1px auto;
    padding: 3px;
}
.post{
    margin-top: 3em;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    max-width: 550px;
}
.header-post{
    padding: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6fc3df;

}
.date-post{
    margin: 0 35px 0 0 !important;
    float: right;
}

textarea {
    resize: none;

}

#MENSAGEM{
    min-height: 60px;
}

.calendar-table {
    margin: 0 auto;
    max-width: 700px;
}
.selected {
    background-color: #8991ec;
}
.outside .date {
    color: #ccc;
}
.timetitle {
    white-space: nowrap;
    text-align: right;
}
.event {
    border-top: 1px solid #b2dba1;
    border-bottom: 1px solid #b2dba1;
    background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    background-repeat: repeat-x;
    color: #3c763d;
    border-width: 1px;
    font-size: .65em;
    padding: 0 .45em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

.calendar-day .event{
    max-width: 150px;
}

.event.begin {
    border-left: 1px solid #b2dba1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.event.end {
    border-right: 1px solid #b2dba1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.event.all-day {
    border-top: 1px solid #9acfea;
    border-bottom: 1px solid #9acfea;
    background-image: linear-gradient(to bottom, #d9edf7 0px, #b9def0 100%);
    background-repeat: repeat-x;
    color: #31708f;
    border-width: 1px;
}
.event.all-day.begin {
    border-left: 1px solid #9acfea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.event.all-day.end {
    border-right: 1px solid #9acfea;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.event.clear {
    background: none;
    border: 1px solid transparent;
}
.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
    padding-left: 0;
    padding-right: 0;
}
.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0;
}

.text-post{
    padding-left: 2px;
}
.comentarios{
    max-width: 550px;
    margin: auto;
    border-radius: 16px;
    background-color: #6fc3df;
    display: grid;
    font-size: 18px;
}
.comentarios li{
    display: flex;
}
.comentarios ul{
    margin-bottom: 0px;
}
.comentarios .container{
    width: 90%;
    margin: auto;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-top: 0.5em;
}
.comentarios .container img{
    max-width: 38px;
    max-height: 38px;
    -webkit-clip-path: circle(19px at center);
    margin-right: 2px;
}

.comentarios textarea{
    height: 66%;
    color: black;
    margin: auto;
    background: white;
    font-size: 17px;
    text-size-adjust: auto;
    padding: 0px;
    border-radius: 13px;
}

.calendario{
    overflow: auto;


}
.menu{
    display: none;
    position: absolute;
    background: white;
    border-radius: 5px;
    color: black;
    list-style: none;
    padding-left: 0;
    z-index: 999;
    cursor: pointer;
}
.menu a {
    padding-right: 12px;
}

.calendario td,
.calendario th {
    width: 150px;
}

.top-chat{
    border-top: 1px solid #909eeb;
    border-bottom: 1px solid #909eeb;
    background-image: linear-gradient(to bottom, #909eeb 0px, #909eeb 100%);
    background-repeat: repeat-x;
    color: #000083;
    border-width: 1px;
    padding: 0 .45em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

.end-forum{
    border-top: 1px solid #909eeb;
    border-bottom: 1px solid #909eeb;
    background-image: linear-gradient(to bottom, #909eeb 0px, #909eeb 100%);
    background-repeat: repeat-x;
    color: #000083;
    border-width: 1px;
    padding: 0 .45em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}